<h1 mat-dialog-title>{{ titleAction }}</h1>

<mat-dialog-content>
  <form [formGroup]="isEditMode ? formUserEdit : formUser">
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nombre Completo</mat-label>
          <input matInput formControlName="fullName" autocomplete="off"  [disabled]="isEditMode" />
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="userName" autocomplete="off" />
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="email" autocomplete="off" />
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="roles"  [disabled]="isEditMode">
            <mat-option *ngFor="let item of ListRoles" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Clave</mat-label>
          <input class="password"
            [type]="hidePassword ? 'password' : 'text'"
            matInput
            formControlName="password"
            autocomplete="off"/>
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            type="button"
          ></button>
          <mat-icon matSuffix>{{hidePassword ? "visibility_off" : "visibility"}}</mat-icon>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Direccion</mat-label>
          <input matInput formControlName="address" autocomplete="off" />
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
      </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Cuidad</mat-label>
        <input matInput formControlName="city" autocomplete="off" />
        <mat-icon matSuffix>location_city</mat-icon>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input matInput formControlName="phone" autocomplete="off" />
        <mat-icon matSuffix>phone_android</mat-icon>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>País<script></script></mat-label>
        <input matInput formControlName="country" autocomplete="off" />
        <mat-icon matSuffix>flag</mat-icon>
      </mat-form-field>
    </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="isActive"  [disabled]="isEditMode">
            <mat-option value="true">Activo</mat-option>
            <mat-option value="false">Inactivo</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button [disabled]="isEditMode ? formUserEdit.invalid : formUser.invalid" (click)="saveEditUser()">{{buttonAction}}</button>

</mat-dialog-actions>


