

<h1 class="Titulo">Nuevo Usuario</h1>
<div class="container">

  <form [formGroup]="usersForm" class="d-flex flex-column">
    <div class="container-registro">
      <div class="form-group container-input">
        <!-- Full Name -->
        <mat-form-field>
          <mat-label>Nombre Completo</mat-label>
          <input matInput [type]="'nombre'" formControlName="nombre">
          <mat-error *ngIf="usersForm.controls['nombre']?.errors?.['required']">El
            nombre es requerido.</mat-error>
        </mat-form-field>

        <!-- Email -->

        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input matInput [type]="'email'" formControlName="email">
          <mat-error *ngIf="usersForm.controls['email']?.errors?.['required']">Correo
            es requerido.</mat-error>
          <mat-error *ngIf="usersForm.controls['email']?.errors?.['email']">Correo
            es invalido.</mat-error>
        </mat-form-field>
      </div>

      <!--Username-->
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput [type]="'userName'" formControlName="userName">
        <mat-error *ngIf="usersForm.controls['userName']?.errors?.['required']">El
          Usuario es requerido.</mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="'password'" formControlName="password">
        <mat-error *ngIf="!usersForm.controls['password']?.valid">La contraseña
          debe ser mayor de 6 caracteres</mat-error>
      </mat-form-field>

      <!-- Password2-->
      <mat-form-field>
        <mat-label>Confimar Contraseña</mat-label>
        <input matInput [type]="'password2'" formControlName="password2">
        <mat-error *ngIf="!usersForm.controls['password2']?.valid">La contraseña
          debe ser iguales</mat-error>
      </mat-form-field>

      <!-- Dirección -->
      <mat-form-field>
        <mat-label>Dirección Completa</mat-label>
        <input matInput [type]="'direccion'" formControlName="direccion">
        <mat-error *ngIf="usersForm.controls['direccion']?.errors?.['required']">La
          dirección es requerida.</mat-error>
      </mat-form-field>

      <!-- Telefono -->
      <mat-form-field>
        <mat-label>Telefono</mat-label>
        <input matInput [type]="'telefono'" formControlName="telefono">
        <mat-error *ngIf="!usersForm.controls['telefono']?.valid">El telefono es
          requerido.</mat-error>
      </mat-form-field>

      <!--Rol-->
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select>
          <mat-option *ngFor="let rol of roles" [value]="rol.value">
            {{rol.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!--container de botones-->
    <div class="botton-register">
      <div class="form-group container-botton">
        <!-- Submit Button -->
        <button type="button" class="btn btn-primary btn-lg botton-login">Enviar</button>
      </div>
      <div class="form-group container-botton">
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary btn-lg botton-login"
          (click)="regresar()"><a [href]="'#'"></a> Regresar</button>
      </div>
    </div>
  </form>
</div>
