
<div>
  <!--Productos-->
  <div>
  <app-progress-spinner></app-progress-spinner>
  <app-productos></app-productos>
</div>


	<!-- overflowCellsLimit -->

 <mat-card mat-elevation="5" class="jumbotron">
    <carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="2000"
    color="accent"
    maxWidth="auto"
    proportion="25"
    slides="4"
    [loop]="true"
    orientation="ltr">
    <ng-container *ngFor="let carrucels of images">
      <ng-container>
        <img src="{{ carrucels.path }}">
      </ng-container>
    </ng-container>
  </carousel>
  </mat-card>
</div>
