
<!-- <mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push">

    <mat-toolbar color="primary">
      <span>Menú</span>
      <span class="spacer"></span>

      <button mat-icon-button
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./user"
        mat-list-item
        (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>sort</mat-icon>
        <span> Listado de Usuario</span>
      </a>
      <a routerLink="./new"
        mat-list-item
        (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add_task</mat-icon>
        <span> Añadir Usuario</span>
      </a>
     <a routerLink="#"
        mat-list-item
        (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>delete_forever</mat-icon>
        <span> Eliminar Usuario</span>
      </a>
      <hr size="1px" color="black">

      <a routerLink="./product"
        mat-list-item
        (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>playlist_add_check</mat-icon>
        <span> Listado de Productos</span>
      </a>
           <a routerLink="./newProduct"
        mat-list-item
        (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add_shopping_cart</mat-icon>
        <span> Añadir Producto</span>
      </a>
      <a routerLink="#"
        mat-list-item
        (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>delete</mat-icon>
        <span> Eliminar Producto</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button
      (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <span>Admin</span>
    <div class="boton">
    <button mat-icon-button d-flex
      (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
  </mat-toolbar> TODO: RESOLVER EL HEADER -->

  <div class="container">
   <!--  <router-outlet></router-outlet> -->
  </div>

<!-- </mat-sidenav-container> -->





<!-- <div class="header">
  <mat-toolbar color="primary">
      <span class="fill-remaining-space"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item> Productos</button>
      <button mat-menu-item>Información</button>
      <button mat-menu-item>Comprar</button>
    </mat-menu>
    <span>Store</span>
    
    <a href="./auth/login">
    </a>
    <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="goToAuth()">
        <mat-icon>perm_identity</mat-icon>
      </button>
    <span class="fill-remaining-space"></span>
    <button
      mat-icon-button
      class="example-icon"
      [matMenuTriggerFor]="notificationsMenu">
      <mat-icon>notifications</mat-icon>
      <mat-badge matBadgeColor="warn" matBadge="5"></mat-badge>
    </button>
    <mat-menu #notificationsMenu="matMenu">
      <button mat-menu-item>Notification 1</button>
      <button mat-menu-item>Notification 2</button>
      <button mat-menu-item>Notification 3</button>
    </mat-menu>

    <span class="fill-remaining-space"></span>

    <button
      mat-icon-button
      class="example-icon"
      (click)="goToCart()">
      <mat-icon>add_shopping_cart</mat-icon>
      <mat-badge matBadgeColor="warn" matBadge="3"></mat-badge>
    </button>
  </mat-toolbar>
</div>
 -->
