
<div class="header">
  <mat-toolbar color="primary">
      <span class="fill-remaining-space"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item> Productos</button>
      <button mat-menu-item>Información</button>
      <button mat-menu-item>Comprar</button>
    </mat-menu>
    <span>Store</span>
    
    <a href="./auth/login">
    </a>
    <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="goToAuth()">
        <mat-icon>perm_identity</mat-icon>
      </button>
    <span class="fill-remaining-space"></span>
    <button
      mat-icon-button
      class="example-icon"
      [matMenuTriggerFor]="notificationsMenu">
      <mat-icon>notifications</mat-icon>
      <mat-badge matBadgeColor="warn" matBadge="5"></mat-badge>
    </button>
    <mat-menu #notificationsMenu="matMenu">
      <button mat-menu-item>Notification 1</button>
      <button mat-menu-item>Notification 2</button>
      <button mat-menu-item>Notification 3</button>
    </mat-menu>

    <span class="fill-remaining-space"></span>

    <button
      mat-icon-button
      class="example-icon"
      (click)="goToCart()">
      <mat-icon>add_shopping_cart</mat-icon>
      <mat-badge matBadgeColor="warn" matBadge="3"></mat-badge>
    </button>
  </mat-toolbar>
</div>

