
<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">{{ title }}</mat-card-title>
      <mat-card-subtitle class="price">{{ subtitle | currency }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="imageUrl" alt="{{ imageAlt }}" class="imagen">
    <mat-card-content class="descripcion">
      {{ content }}
    </mat-card-content>
    <mat-card-actions>
      <div class="botton_Card">
      <button mat-flat-button color="primary" class="button"
        (click)="buttonAction.emit()">
        <mat-icon class="Icon">{{icon1}}</mat-icon> {{ buttonText1 }} </button>
        <button  mat-flat-button color="primary" class="button"
        (click)="buttonAction.emit()">
        <mat-icon class="Icon">{{icon2}}</mat-icon> {{ buttonText2 }} </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
