
<div class="card-container">
  <mat-card *ngFor="let imageUrl of getImageUrlsArray()">
    <mat-card-header>
      <mat-card-title class="title">{{ title|slice: 0:30 }}</mat-card-title>
      <mat-card-subtitle class="price">{{ subtitle | currency }}</mat-card-subtitle>
    </mat-card-header>
    <div class="card__img">
      <img mat-card-image [src]="imageUrl" alt="{{ imageAlt }}" class="imagen">
    </div>
    <mat-card-content class="descripcion">
      {{ content | slice: 0:160 }}
    </mat-card-content>
    <mat-card-actions>
      <div class="botton_Card">
      <button mat-flat-button color="primary" class="button"
        (click)="buttonAction.emit()">
        <mat-icon class="Icon">{{icon1}}</mat-icon> {{ buttonText1 }} </button>
        <button  mat-flat-button color="primary" class="button"
        (click)="buttonAction.emit()">
        <mat-icon class="Icon">{{icon2}}</mat-icon> {{ buttonText2 }} </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
