:host {
  flex: 0 1 calc(50% - 20px); /* Cambio de 33.33% a 50% para dos elementos por fila */
  margin: 10px;
  max-width: 400px;
  height: auto; /* Cambio de altura fija a altura automática */
  display: flex;
  flex-direction: column;
}

/* Agregamos una media query para dispositivos móviles */
@media (max-width: 767px) {
  :host {
    flex: 0 1 calc(100% - 20px); /* Ocupa todo el ancho disponible en dispositivos móviles */
    margin: 10px;
    max-width: none; /* Elimina el ancho máximo en dispositivos móviles */
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}

.mat-card {
  position: relative;
  width: 350px;
  height: auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px -1.5px #000;

} 

.title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.botton_Card{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}
button {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 40%;
  text-align: center;
  cursor: pointer;
}

.price {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 15px;
}
.card__img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.imagen {
  margin: auto;
  width: 150px;
  height: auto;
  fill: none;
}

.descripcion {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 5px;
  text-align: justify;
}

.botton_Card{
  display: flex;
  justify-content:space-around;
  margin-top: 10px;
  align-items: center;
}
.Icon{
 width: 40px;
}

