/* Estructura general de la tabla */
table {
  width: 100%;
}

.mat-mdc-form-field {
  width: 100%;
}

.imagen {
  width: 20%;
  height: 20%;
  display: block;
  margin: 10px auto;
}

th {
  text-align: center;
}

td {
  text-align: center;
  line-height: 1.5;
  
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .mat-mdc-form-field {
    font-size: 12px; /* Tamaño de fuente más pequeño para dispositivos móviles */
  }

  table {
    display: block; /* Converte la tabla en un bloque en dispositivos móviles */
    overflow-x: auto; /* Agrega desplazamiento horizontal si la tabla es demasiado ancha */
  }

  th,
  td {
    text-align: center; /* Centra el contenido en celdas en dispositivos móviles */
  }

  img {
    width: 100%; /* Ajusta el ancho de las imágenes al 100% en dispositivos móviles */
    height: auto; /* Ajusta la altura automáticamente */
    margin: 10px 0; /* Ajusta los márgenes superior e inferior */
  }
}

/* Estilos para pantallas web */
@media (min-width: 768px) {
  .mat-mdc-form-field {
    font-size: 16px; /* Tamaño de fuente más grande para páginas web */
  }
}
