
mat-card {
  margin: 10px;
  max-width: 400px;
  height: 400px;
}


h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

button {
  margin-top: 5px;
  width: 100%;
  text-align: center;
 }

.price{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.imagen{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 120px;
  height: 120px;
}

.descripcion{
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 15px;
  text-align: justify;
}


