
mat-card {
  margin: 10px;
  width: 350px;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

p {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 15px;
}

button {
  margin-top: 5px;
  color: #fff;
}

.price{
font-weight: 700;
}
