@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

/* Media Query para dispositivos móviles */
@media (max-width: 767px) {
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }

  .h-custom {
    height: 100%;
  }

  .section-login {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; /* Ajustar la altura automáticamente en dispositivos móviles */
    margin-bottom: 1rem;
  }

  .container-imagen img {
    max-width: 100%; /* Asegurar que la imagen se ajuste al ancho de su contenedor */
    height: auto; /* Ajustar la altura automáticamente */
  }

  .container-input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
  }

  .botton-login{
    width: 50%;
  }

  .container-sing,
  .p-registro,
  .animate-label,
  .form-control:focus + .animate-label,
  .form-control:not(:placeholder-shown) + .animate-label {
    font-size: 12px; /* Tamaño de fuente ajustado para dispositivos móviles */
    align-items: center;
  }

  .container-sing {
    margin: 0.5rem 1rem; /* Reducir el margen lateral */
  }

  .form-login {
    width: 100%; /* Asegurar que el formulario ocupe el ancho completo */
    margin-top: 1rem;
  }

}

/* Media Query para páginas web */
@media (min-width: 768px) and (max-width: 1440px) {
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }

  .h-custom {
    height: calc(100% - 100px);
  }

  .section-login {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: 100%;
    height: 100%;
    font-size: 14px;
  }

  .container-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .container-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
  }

  .container-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
  }

  .container-sing {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 2rem;
    font-weight: 700;
  }

  .p-sing {
    margin: auto;
  }

  .form-login {
    width: 100%; /* Asegurar que el formulario ocupe el ancho completo */
    margin-top: 1rem;
  }

  .inputs {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.2rem;
  }

  .container-botton {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }

  .p-registro {
    margin: revert;
    text-align: center;
  }

  .botton-login {
    text-align: center;
    background-color: #386bc0;
    color: #ebeff4;
    font-size: 1rem;
  }

  .animate-label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #999;
    transition: all 0.2s ease-out;
  }

}
@media (min-width: 1441px) and (max-width: 2560px) {
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }

  .h-custom {
    height: calc(100% - 73px);
  }

  .section-login {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: 100%;
    font-size: 14px;
  }

  .container-imagen {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 800px;
    height: auto;
  }

  .label-input,
  .botton,
  .p-registro,
  .animate-label,
  .p-sing,
  .form-control:focus + .animate-label,
  .form-control:not(:placeholder-shown) + .animate-label {
    font-size: 18px; /* Tamaño de fuente ajustado para dispositivos móviles */
    align-items: center;
    text-align: center;
    font-weight: 800;
  }

  .container-botton {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }

 /* Resto de los estilos para dispositivos móviles */
  .botton-login {
   align-items: center;
  background-color: #386bc0;
  color: #ebeff4;

}
.container-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 40%;
}

.container-sing{
   display: flex;
   justify-content: center;
   margin: 0.5rem 2rem;
   align-items: center;
  
  }
}

