
<!--  <--Mostrar la tarjeta del producto seleccionado --> 
<div *ngIf="selectedProduct">
    <!-- <app-card [products]="selectedProduct"></app-card> -->
  <div class="custom-grid-container">
    <app-card
  [title]="selectedProduct.title.toString()"
  [subtitle]="selectedProduct.price.toString()"
  [imageUrl]="selectedProduct.images!.toString()"
  imageAlt="Imagen del producto"
  [content]="selectedProduct.description"
  [icon1]="'edit'"
  [buttonText1]="'Modificar'"
  (buttonAction)="Edit()"
  [icon2]="'delete'"
  [buttonText2]="'Eliminar'"
  (buttonAction)="onDeleteButtonClick()"
  ></app-card>
  </div>

  </div>

