mat-form-field{
    width: 100%;
}

.Imagen{
    width: 80%;
}
.button{
    width: 20%;
    border-radius: 2rem;

}

.Button-Add{
   display: flex;
   justify-content: center;
   align-items: center;
}
/* Estilos para dispositivos móviles */
@media (max-width: 425px) {
    .mat-form-field {
      width: 100%;
    }
  
    .Imagen {
      width: 100%;
    }
  
    .button {
      width: 100%;
    }
  
    .Button-Add {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  