

.custom-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
}

.paginador{
    display: flex;
    justify-content: center;
    position: static;
    width: 100%;
}