<app-filter (filterChanged)="handleFilterChanged($event)"></app-filter>

<!-- Aquí se mostrarán las tarjetas de los productos filtrados -->
<h1 class="Text-Product">Productos</h1>
<mat-divider></mat-divider>
<div class="custom-grid-container">
  <app-card *ngFor="let product of productList"
  [title]="product.name.toString()"
  [subtitle]="product.price.toString()"
  [imageUrl]="product.image"
  imageAlt="Imagen del producto"
  [content]="product.description"
  [icon1]="'shopping_cart_checkout'"
  [buttonText1]="'Agregar al carrito'" 
  (buttonAction)="addToCart(product)"
  [icon2]="'live_help'"
  [buttonText2]="'Informacion'" 
  (buttonAction)="info_Product()"
  >
</app-card>
</div>
