<!-- <div fxLayout="row wrap" fxLayoutAlign="center">
  <mat-form-field fxFlex="50%">
    <mat-label>Buscar productos</mat-label>
    <input matInput [(ngModel)]="searchTerm" (keyup)="search()">
  </mat-form-field>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center">
  <div fxFlex="25%" *ngFor="let product of products">
    <mat-card>
      <img mat-card-image [src]="product.image" alt="{{ product.name }}">
      <mat-card-content>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
        <p>{{ product.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Add to Cart</button>
        <button mat-icon-button matTooltip="Favorite">
          <mat-icon>favorite_border</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->
