<!-- header del modulo user -->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menú</span>
      <span class="spacer"></span>

      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Lista del modulo user -->
    <mat-nav-list (click)="onMenuClick()">
      <a routerLink="#" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>assignment_add</mat-icon>
        <span>Nuevo Lanzamientos</span>
      </a>
      <a routerLink="./productos" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>playlist_add_check</mat-icon>
        <span> Listado de Productos</span>
      </a>
      <hr size="1px" color="black" />

      <a routerLink="#" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>live_help</mat-icon>
        <span> Información</span>
      </a>
      <a routerLink="#" mat-list-item (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>contacts</mat-icon>
        <span>Contacto</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-flat-button color="primary" routerLink="/store"
      (click)="onShop()"> <h2 style="margin: auto;">Shop</h2></button>

    <div class="boton">
      <span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        [matMenuTriggerFor]="notificationsMenu">
        <mat-icon>perm_identity</mat-icon>
        <span class="name">{{userName}}</span>
      </button>
      <mat-menu #notificationsMenu="matMenu">
        <button mat-menu-item *ngIf="!isUserLoggedIn" (click)="goToAuth('login')">Ingresar</button>
        <button mat-menu-item *ngIf="!isUserLoggedIn" (click)="goToAuth('register')">Registro</button>
      
        <button mat-menu-item *ngIf="isUserLoggedIn" (click)="goToMyAccount('mi-cuenta')">Mi cuenta</button>
        <button mat-menu-item *ngIf="isUserLoggedIn" (click)="goToMyAccount('mis-pedidos')">Mis pedidos</button>
        <button mat-menu-item *ngIf="isUserLoggedIn" (click)="goToMyAccount('salir')">Salir</button>
        
      </mat-menu>
      
      <span class="fill-remaining-space"></span>
      <button
        mat-icon-button
        class="example-icon"
        [matMenuTriggerFor]="notificationsMenu1">
        <mat-icon>notifications</mat-icon>
        <mat-badge matBadgeColor="warn" matBadge="5"></mat-badge>
      </button>
      <mat-menu #notificationsMenu1="matMenu">
        <button mat-menu-item>Notification 1</button>
        <button mat-menu-item>Notification 2</button>
        <button mat-menu-item>Notification 3</button>
      </mat-menu>

      <span class="fill-remaining-space"></span>

      <button mat-icon-button class="example-icon" (click)="goToCart()"
        (click)="onCartClick()">
        <mat-icon>add_shopping_cart</mat-icon>
        <mat-badge matBadgeColor="warn" matBadge="3"></mat-badge>
      </button>
      </span>
    </div>
  </mat-toolbar>
  <!-- Entrutador y modulos home user -->
  <div class="container">
    <router-outlet></router-outlet>
    <div *ngIf="mostrarAppBody">
      <app-body></app-body>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>

</mat-sidenav-container>
