

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input  
        type="text"
        matInput
        [formControl]="searchControl"
        (input)="applyFilter()"
        [matAutocomplete]="auto">

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      <mat-option *ngFor="let item of filteredItems" [value]="item.title">
        {{ item.title }}
      </mat-option>
    
      <mat-option *ngIf="filteredItems.length === 0 && searchControl.value && searchControl.value.length > 0" value="">
        No se encontró nada con el término {{ searchControl.value }}
      </mat-option>
    </mat-autocomplete>
</mat-form-field>

