<h1  class="Titulo">Registro de Usuario</h1>
<div class="container">

<form [formGroup]="loginForm" class="d-flex flex-column">
  <div class="container-registro">
    <div class="form-group container-input">
      <!-- Full Name -->
      <mat-form-field>
        <mat-label>Nombre Completo</mat-label>
        <input matInput [type]="'nombre'" formControlName="nombre">
        <mat-error *ngIf="loginForm.controls['nombre']?.errors?.['required']">El nombre es requerido.</mat-error>
      </mat-form-field>

       <!-- Email -->

      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input matInput [type]="'email'" formControlName="email">
        <mat-error *ngIf="loginForm.controls['email']?.errors?.['required']">Correo
          es requerido.</mat-error>
        <mat-error *ngIf="loginForm.controls['email']?.errors?.['email']">Correo
          es invalido.</mat-error>
      </mat-form-field>
      </div>

      <!--Username-->
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput [type]="'userName'" formControlName="userName">
        <mat-error *ngIf="loginForm.controls['userName']?.errors?.['required']">El Usuario es requerido.</mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="'password'" formControlName="password">
        <mat-error *ngIf="!loginForm.controls['password']?.valid">La contraseña debe ser mayor de 6 caracteres</mat-error>
      </mat-form-field>

      <!-- Password2-->
      <mat-form-field>
        <mat-label>Confimar Contraseña</mat-label>
        <input matInput [type]="'password2'" formControlName="password2">
        <mat-error *ngIf="!loginForm.controls['password2']?.valid">La contraseña debe ser iguales</mat-error>
      </mat-form-field>


      <!-- Dirección -->
      <mat-form-field>
        <mat-label>Dirección Completa</mat-label>
        <input matInput [type]="'direccion'" formControlName="direccion">
        <mat-error *ngIf="loginForm.controls['direccion']?.errors?.['required']">La
          dirección es requerida.</mat-error>
      </mat-form-field>

      <!-- Telefono -->
      <mat-form-field>
        <mat-label>Telefono</mat-label>
        <input matInput [type]="'telefono'" formControlName="telefono">
        <mat-error *ngIf="!loginForm.controls['telefono']?.valid">El telefono es
          requerido.</mat-error>
      </mat-form-field>
    </div>

    <!-- <div class="form-group container-input">

      <label for="city_id" class="control-label">Ciudad</label>
      <input
        type="text"
        class="form-control"
        id="city_id"
        name="city"
        placeholder="Smallville" />
    </div>

    <div class="form-group container-input">
      <label for="state_id" class="control-label">Pais</label>
      <select class="form-control" id="state_id">
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
      </select>
    </div>

    <div class="form-group container-input">
      <label for="zip_id" class="control-label">Codigo Postal</label>
      <input
        type="text"
        class="form-control"
        id="zip_id"
        name="zip"
        placeholder="#####" />
    </div> -->

    <div class="botton-register">
      <div class="form-group container-botton">
        <!-- Submit Button -->
        <button type="button" class="btn btn-primary btn-lg botton-login">Enviar</button>
      </div>
      <div class="form-group container-botton">
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary btn-lg botton-login" (click)="regresar()"><a [href]="'#'"></a> Regresar</button>
      </div>
    </div>
  </form>
</div>
