

footer {
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.spacer {
  flex: 1 1 auto;
}

.footer-dad{
  display: flex;
  justify-content: center;
  width: 100%;
}


.shop{
  text-align: center;
}

.link-footer{
  color: white;
}
