/* Footer styles */
.pmd-footer {
  background-color: #3f51b5;
  color: #ffffff;
  padding: 80px 0;
  width: 100%;
  height: auto;
}

.pmd-footer .footer-dad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pmd-footer .list-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pmd-footer .pmd-footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pmd-footer .pmd-footer-nav li {
  margin: 5px 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}

.pmd-footer .pmd-social-icons {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.pmd-footer .pmd-footer-nav a {
  color: #ffffff;
  text-decoration: none;
}

.pmd-footer .pmd-site-info {
  text-align: center;
  margin: 2px;
}

.pmd-footer .pmd-site-info a {
  color: #ffffff;
  text-decoration: underline;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 425px) {
  .pmd-footer .col-xl-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
  }

  .pmd-footer .footer-dad {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .pmd-footer .list-footer {
    flex-direction: column;
    align-items: center;
  }
  
  .pmd-footer .pmd-footer-nav {
    flex-direction: column;
    align-items: center;
  }
  
  .pmd-footer .pmd-footer-nav li {
    margin: 5px 0;
    font-size: 10px;
    text-align: center;
  }
  
  .pmd-footer .pmd-site-info {
    text-align: center;
    margin: 10px 0;
  }
  
  .pmd-footer .pmd-social-icons {
    display: flex;
    justify-content: center;
    margin: 10px 0; 
  }
  
  .pmd-footer .pmd-site-info a {
    color: #ffffff;
    text-decoration: underline;
  }
}




